<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="form-wrapper">
            <% if (errorMessage) { %>
                <div class="flash">
                   <% validationErrors.forEach(e => { %>
                        <p class="error"><%= e.msg %></p>
                    <% }) %>
                </div>
            <%}%>
            <div class="form-text">
                <h2>Password Reset</h2>
                <p>Change Password</p>
            </div>
            <form action="/new-password" method="POST">
                
        <div class="form-item">
            <input type="password" name="newPassword" required>
                <label for="">Enter New Password</label>
        </div>
        <div class="form-item">
            <input type="password" name="confirmNewPassword" required>
                <label for="">Confirm New Password</label>
        </div>
        <input type="hidden" name="resetToken" value="<%= resetToken %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Reset Password">
        </form>
        <div class="alt">
            <a href="/login">Go back?</a>
        </div>
        </div>
    </main>

    <script src="/js/form.js"></script>

    <%- include('../includes/footer.ejs') %>